Makefile
libyelmo
libs/exlib
libs/lis*
ice_data
tests/plots
output
tests/.DS_Store
.DS_Store
*.DS_Store
*.mod
*.vscode
*.mypy_cache
*.pytest_cache
runylmo.js
tmp
maps/scrip*.nc
check_sim.x
git_yelmo.txt
